.navbar {
  background-color: white;
  height: 88px;
  border-bottom: 1px solid #e5e5e5; }
  .navbar a {
    padding: 6px 13px !important;
    font-size: 14px;
    font-weight: bold; }
  .navbar a[href*=mailto] {
    color: #fe6521; }
  .navbar .navbar-brand img {
    height: 45px;
    margin: 21.5px 0; }

.navbar-default .navbar-nav > li > a {
  color: black; }
  .navbar-default .navbar-nav > li > a:hover {
    background-color: #fe6521;
    color: white; }

#info h1 {
  width: 407px;
  font-size: 25px;
  color: white;
  font-weight: bold; }
#info .line {
  display: block; }
#info .pink {
  background-color: #fc2077; }
#info .blue {
  background-color: #009dd9; }
#info .pink,
#info .blue {
  height: 48px;
  margin: 6px 4.5px; }
  #info .pink:last-child,
  #info .blue:last-child {
    margin: 6px 9px 6px 0; }

body {
  background-color: white; }

body, h1, h2 {
  font-family: 'PT Sans', 'Arial', sans-serif; }

a {
  color: #fe6521; }
