#info {

  &>div:first-child {

    background-repeat: repeat-x;
    background-position-x: 42%;

    @include separation_border;

    @media (min-width: $screen-sm-min) {
      margin-bottom: 55px;
      background-image: url(../assets/wawel.png);
    }
  }

  &>div:nth-child(2) {
    background-color: white;
    margin: 55px 0;
  }

  .composition {

    @media (min-width: $screen-sm-min) {
      position: relative;
    }
  }

  .banner {
    margin: auto;
    background-repeat: no-repeat;

    width: 290px;
    height: 150px;
    background-image: url(../assets/mobile/kompozycja-375.png);

    @media (min-width: $screen-sm-min) {
      height: 468px;
      width: 705px;
      background-image: url(../assets/kompozycja1.png);
      margin: 74px auto 0 auto;
      background-position-y: 40px;
    }

  }

  h2 {
    font-size: 18px;
    font-weight: normal;
    color: $wud_blue;

    width: 290px;
    margin: 5px auto 0 auto;

    //FIXME 
    text-align: left;
    background: none;

    @media (min-width: $screen-sm-min) {
      width: 407px;
    }
  }

  .line {
    display: block;
  }

  .pink {
    background-color: $wud_pink;
  }

  .blue {
    background-color: $wud_blue;
  }

  .pink,
  .blue {
    height: 48px;

    //margin: 6px 4.5px;
    //width: 100%;

    &:last-child {
      //margin: 6px 9px 6px 0;
    }
  }

 .logo {

   font-size: 20px;
   letter-spacing: .2px !important;
   //-webkit-text-size-adjust: 100% !important;

  font-weight: bold;
  color: white;

  top: 0px;

  @media (min-width: $screen-sm-min) {
    font-size: 30px;
    position: absolute;
    top: 240px;
  }

  .logo-wrapper {
   background-image: url(../assets/mobile/logo-bg.png);
   background-repeat: no-repeat;

    position: relative;
    width: 290px;
    height: 73px;

    margin: auto;

    @media (min-width: $screen-sm-min) {
     background-image: url(../assets/logo-bg.png);
     width: 407px;
     height: 102px;
    }
  }

  h1 {

   font-size: 20px;
   background-image: none;
   margin: 6px 0 0 0;
   letter-spacing: .2px !important;
   -webkit-text-size-adjust: 100% !important;

    @media (min-width: $screen-sm-min) {
      font-size: 30px;
    }

   //display: block;
  }

  .header-wrapper {

   position: absolute;
   top: 0;
   left: 0;

   width: 290px;
   height: 35px;
   vertical-align: center;

   @media (min-width: $screen-sm-min) {
     width: 407px;
     height: 48px;
   }
  }

  .line {
    display: block;
  }

  .line:nth-child(2) {
    margin-top: 6px;
  }

  .line div {
    display: inline-block;
    text-align: center;
  }

  .wud {
    width: 312px;

    @media (min-width: $screen-sm-min) {
      width: 407px;
    }
  }

  .cross {

    width: 41px;

    @media (min-width: $screen-sm-min) {
      width: 52px;
    }
    vertical-align: top;
  }

  .cross img {

    margin-bottom: 10.5px;
  }

  .when,
  .where {
    position: absolute;
    top: 38px;
    text-align: center;
    padding: 5px 0 0 0;


    @media (min-width: $screen-sm-min) {
      padding: 0px 0 0 0;
      top: 56px;
    }
  }

  .when {

    width: 147px;
    left: 43px;

    @media (min-width: $screen-sm-min) {
      width: 204px;
      left: 61px;
    }
  }

  .where {

    width: 96px;
    left: 194px;

    @media (min-width: $screen-sm-min) {
      width: 134px;
      left: 273px;
    }
  }

}
}

#info aside {

  font-weight: bold;
  text-align: center;
  margin-bottom: 55px;

  @media (min-width: $screen-sm-min) {
    position: absolute;
    top: 300px;
    //right: 0px;
    text-align: right;
    margin-bottom: 0;
    margin-top: 20px;
  }

  p {
    margin: 0;
  }

  p:first-child {
    font-size: 35px;
  }

  p:nth-child(2) {
    font-size: 20px;
  }

  .registration {
    border-top: 1px solid $nav_border;
    font-size: 20px;
    margin: 5px 0 0 0;
    padding: 5px 0 0 0;

    @media (min-width: $screen-sm-min) {
      text-align: left;
    }
  }

  
}

#info .description {
  font-size: 20px;

  p {
    margin-bottom: 35px;
  }
  
}

#info .dummy-button-wrapper {
  margin-top: 15px;
}

