.logotype {
  background-image: url(../assets/logos.png);
  background-repeat: no-repeat;
  border: 0;
}

.logo-wrapper {
  height: 72px;
}

.sabre {
  background-position: 10px -130px;
  width: 235px;
  height: 52px;
}

.comarch {
  background-position: 0px 0px;
  width: 260px;
  height: 39px;
}

.luxmed {
  background-position: 0px -194px;
  width: 150px;
  height: 45px;
}

.sii {
  background-position: 0px -244px;
  width: 103px;
  height: 72px;
}

.making-waves {
  background-position: 0px -47px;
  width: 220px;
  height: 63px;
}
