$navbar_height: 88px;
$navbar_brand_img_height: 45px;
$navbar_link_font_size: 18px;
$navbar_link_padding_top: 6px;
$navbar_link_padding_left: 12px;
$navbar_brand_img_margin_top: ($navbar_height - $navbar_brand_img_height)/2 ;
$navbar_link_margin_top: (($navbar_height - $navbar_link_font_size) - (2*$navbar_link_padding_top))/2;
$navbar_link_margin_left: 20px;//(20px - $navbar_link_padding_left);

.navbar {
  background-color: white;
  height: $navbar_height;

  @include separation_border;

  .navbar-brand img {
    height: $navbar_brand_img_height;
    margin: $navbar_brand_img_margin_top 0;
    margin-right: $navbar_link_margin_left;
  }

}

.navbar-brand {
  padding: 0 !important;
}

.navbar-nav {

  a {
    margin: $navbar_link_margin_top $navbar_link_margin_left;
    padding: $navbar_link_padding_top $navbar_link_padding_left !important;
    font-size: $navbar_link_font_size;
    font-weight: bold;
    text-transform: uppercase;
  }

  a.contact {
    color: $wud_orange !important;
    text-transform: none;
    font-weight: normal;
  }

}

.navbar-left a {

    color: black !important;

    &:hover {
      background-color: $wud_orange;
      color: white;
    }
}

.navbar-default .navbar-nav>li>a {
}
