.navbar {
  background-color: white;
  height: 88px;

  @include separation_border;

  a {
    padding: 6px 13px !important;
    font-size: 14px;
    font-weight: bold;
  }

  a[href*=mailto] {
    color: $wud_orange;
  }

  .navbar-brand img {
    height: 45px;
    margin: 21.5px 0;
  }

}

.navbar-default .navbar-nav>li>a {
    color: black;

    &:hover {
      background-color: $wud_orange;
      color: white;
    }
}
