#program {

  table {
    width: 90%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 8px;

    font-size: 18px;
  }

  tr td {
    vertical-align: top;
  }

  tr td:first-child {
    @media (min-width: $screen-sm-min) {
      min-width: 150px;
    }
  }

  tr td span, tr td div.wrapper-info {
    background-color: white;
    display: inline-block;
    width: 100%;
  }

  tr td:first-child span {
    text-align: center;
  }

  tr td:first-child span,
  tr td:nth-child(2) div.wrapper-info {
    border: 1px solid $nav_border;
    padding: 15px;
  }

  tr.highlight td {
    color: white;
    background-color: $wud_orange;
    span, div.wrapper-info {
      background-color: $wud_orange;
    }
  }

  tr.highlight td.wrapper-info {
      padding-left: 15px;
    }


  tr.highlight td,
  tr.impreza td > div.wrapper-info {
    vertical-align: middle;
    border: 0;
    color: white;
    font-weight: bold;
  }

  tr.highlight, tr.impreza {
    td span {
      border: 0;
    }
  }

  tr.impreza {
    
    td:first-child span, td:nth-child(2) > div.wrapper-info {
    
      color: white;
      font-weight: bold;
      background-color: $wud_blue;
    
    }

  }

  p {
    margin-top: 30px;
  }

  div.description {
    font-size: 16px;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid $nav_border;

    display: none;
  }

  .toggle {
    background-image: url(../assets/arrows.png);
    width: 18px;
    height: 9px;
    display: inline-block;
    background-position: 0px -9px;

    &.active {
      background-position: 0px 0px;
    }
  }

  #map-canvas {
    height: 300px;
    //display: none;
    visibility: hidden;
  }

  button.showMore {
    border: 0;
    background-color: white;
    color: $wud_blue;
    font-size: 15px;
    border-radius: 0;
  }

}
