#sponsorzy {

  border-bottom: 0;

  .sponsors-list {
    padding: 16px 12px;

    border-top: 1px solid $nav_border;

    h2 {
      margin-top: 0px;
      font-size: 24px;
    }

    ul {
      text-align: center;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    ul li {
      display: block;

      .logotype {
        margin: auto;
      }

      @media (min-width: $screen-sm-min) {
        display: inline-block;
        vertical-align: top;
        margin: 0 10px;
      }
    }

    figure {
      margin-bottom: 35px;
    }

    figcaption {
      color: #b7b7b7;
      margin-top: 10px;
      font-weight: bold;
    }
  }

  ul.silver-sponsors {
    li {
      display: inline-block;
    }
  }

}
