#sponsorzy {

  border-bottom: 0;

  ul.org li {
    margin-bottom: 50px;

    @media (min-width: $screen-sm-min) {
      margin-bottom: 0px;
    }
  }

  .sponsors-list {
    padding: 16px 12px;
    margin-bottom: 40px;

    border-top: 1px solid $nav_border;

    h2 {
      margin: 0px 0 110px 0;
      font-size: 24px;
    }

    ul {
      text-align: center;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    ul li {
      display: block;

      .logotype {
        margin: auto;
      }

      @media (min-width: $screen-sm-min) {
        display: inline-block;
        vertical-align: top;
        //margin: 0 10px;
        margin: 0 50px;
      }
    }

    figure {
      margin-bottom: 35px;
    }

    figcaption {
      color: #b7b7b7;
      margin-top: 10px;
      font-weight: bold;
    }
  }

  ul.silver-sponsors {
    li {
      display: inline-block;
    }
  }

  .partners ul li, .patrons ul li {
    margin: 0 0; }
  .partners ul li img, .patrons ul li img {
    margin: auto; }
    @media (min-width: 768px) {
      .partners ul li img, .patrons ul li img {
        margin: 0; } }
  .partners img {
    background-image: url(../assets/sponsors/partners.png);
    background-repeat: no-repeat;
    width: 140px;
    height: 75px; }
  .krakowski-floating {
    background-position: 0px 0px; }
  .ux-pin {
    background-position: 0px -75px; }
  .brand24 {
    background-position: 0px -150px; }
  .patrons img {
    background-image: url(../assets/sponsors/patrons.png);
    background-repeat: no-repeat;
    width: 140px;
    height: 75px; }
  .ak74 {
    background-position: 0px 0px; }
  .zombie {
    background-position: 0px -75px; }
  .uxbite {
    background-position: 0px -150px; }
  .kultura {
    background-position: 0px -225px; }
  .eurostudent {
    background-position: 0px -300px; }
  .klucz {
    background-position: 0px -375px; }
  .webcrea {
    background-position: 0px -450px; }
  .ggc {
    background-position: 0px -525px; }
  .crossweb {
    background-position: 0px -600px; }
  .wkrakowie {
    background-position: 0px -675px; }

}
